<div class="container d-flex flex-row" >
  <div class="index-cards" >
    <div class="container" >
      <p><%= search_field_tag 'city' %></p>
    </div>
    <div class="cards-container">
      <% @spaces.each do  |space| %>
        <div class="card inline-flex" style="width: 400px; flex-direction: row" >
        <%  if space.photo %>
         <%= cl_image_tag(space.photo, width: 160, height: 160, crop: :fill) %>
        <% end  %>

          <div class="card-body" >
            <h5 class="card-title"><%= space.address %></h5>
            <p class="card-text"><%= space.price %></p>
            <p class="card-text"><%= space.size %></p>
            <%= link_to "show more", space_path(space) %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <div class="map flex-grow-1">
    <p>place the map in this div</p>
  </div>
</div>

