<% count = 0 %>

<% bookings.each do |booking| %>
  <% count =+ 1 %>
  <% if booking.start_date > Date.parse(Time.now.strftime('%Y/%m/%d'))%>
    <div class="card">
      <% case booking.status
       when "confirmed"
          headerClass = "bg-success"
        when "pending"
          headerClass = "bg-warning"
        when "reject"
          headerClass = "bg-danger"
        else
          headerClass = "bg-warning"
        end %>
      <div class="card-header <%= headerClass %>" >
        <h6 class="my-0" style= "height: 16px;"> Status: <%=booking.status%></h6>
        </div>
      <div class="card-body d-flex justify-content-between">
       <div>
        <h5 class="card-title">Address: <%=booking.space.address%></h5>
        <p class="card-text">From <%=booking.start_date%>  To  <%=booking.end_date%></p>
        <p class="card-text"> Size: <%=booking.space.size%> m²</p>
       </div>
      <div>
        <p class="card-text">Total: <%= booking.cost %> €</p>
        <%= link_to "Go to this booking", booking_path(booking), class: "button" %>
      </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if count == 0 %>
  <div class="container">
    <div class="container" style="justify-content: center;">
      <p>You don't have any future bookings</p>
      <%= link_to "Book a space", spaces_path, class: "button" %>
    </div>
  </div>
<% end %>
