
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My bookings and pending requests</title>

</head>
<body>
 <div class="container">
   <h1 class ="my-4"->My Bookings</h1>

  <% @bookings.each do |booking| %>

  <div class="card">
  <% if booking.status == "confirmed" %>
    <div class="card-header bg-success">
    <h6 class="my-0" style= "height: 16px;"> Status:<%=booking.status%></h6>
  </div>
  <% end %>

   <% if booking.status == "pending" %>
    <div class="card-header bg-warning">
    <h6 class="my-0" style= "height: 16px;"> Status:<%=booking.status%></h6>
    </div>
  <% end %>

   <% if booking.status == "reject" %>
    <div class="card-header bg-danger">
    <h6 class="my-0" style= "height: 16px;"> Status:<%=booking.status%></h6>
    </div>
  <% end %>

  <div class="card-body d-flex justify-content-between">
   <div>
    <h5 class="card-title">Address:<%=booking.space.address%></h5>
    <p class="card-text">From <%=booking.start_date%>  To  <%=booking.end_date%></p>
    <p class="card-text"> Size: <%=booking.space.size%></p>
   </div>

   <div>
    <p class="card-text">Total: <%= booking.cost %> Euro</p>
    <a href="#" class="button"> Go to this booking</a>
    </div>
  </div>
  </div>
 <% end %>

  <h1 class ="my-4"->My Pending Requests</h1>
  <% @bookings.each do |booking| %>
  <div class="d-flex item-aligin-baseline justify-content-between bg-white p-4 border my-5">
    <div>
    <h5 class="card-title">Address:<%=booking.space.address%></h5>
    <p class="card-text">From <%=booking.start_date%> to <%=booking.end_date%></p>
    <p class="card-text"> Request sent by:<%=booking.user.email%></p>
    <p>Total: 90 Euro</p>
    </div>

     <div class = "d-flex" style="flex-direction: column;margin-top: 16px;text-align:center">
    <a href="#" class="btn-success p-1 my-2"> Accept </a>
    <a href="#" class="btn-danger p-1 my-2"> Reject </a>
    <a href="#" class="btn-primary p-1 my-2"> Go to this booking </a>
    </div>

  </div>

 <% end %>
</div>
</body>
</html>
