<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My booking details</title>
</head>
<body>
  <div class="container ">
    <div class = "my-3 py-2" ><h2 class="font-weight-bold text-center">You Booking on <%=@booking.start_date.to_date%></h2></div>

    <div class="d-flex">

      <div class="card bg-dark text-white mx-3 p-0" style="width:60%;height:100vh;border-style: none;">
        <div id="map" style="width: 100%; height: 100%;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>
        <div class="card-img-overlay d-flex  justify-content-between">
        <div style="padding-top: 580px; color: black;">
          <div class="d-flex">
                <i class="large material-icons" style="color: #02CCBA; margin-right: 8px;">location_on</i>
                <h5 class="card-title"><%=@booking.space.address%></h5>
          </div>
           <p class="card-text">Starts: <%=@booking.start_date%></p>
           <p class="card-text">End: <%=@booking.end_date%></p>
           <p class="card-text">Contact: <%=@booking.user.email%></p>
        </div>
        <h5 class="card-text" style="padding-top:580px;width:max-content;color: black;">Total:<%=@booking.cost%> Euro</h5>
       </div>
      </div>

  <div class="card" style="width: 40%;height: 100vh;">
  <div class="card-body" style = "text-align:center; margin-top: 100px;">
    <h4 class = "mb-5" style="width:max-content;padding-left: 28px;"> You rent a space from</h4>
    <img class="rounded-circle alone mb-4" src="https://avatars0.githubusercontent.com/u/50922534?v=4" width="85">
    <h5 class="card-title"><%=@booking.space.user.email%></h5>
    <div class="d-flex" style = "padding-left: 51px;" >
        <i class="large material-icons" style="color: #02CCBA; margin-right: 8px;">pets</i>
        <p class="card-text">on Parking Dog since: </p>
    </div>
       <p> <%=@booking.space.user.created_at.to_date%></p>
    <div style="margin-top: 40px;margin-left: 24px;">
      <%= link_to "Go Back to my dashboard", bookings_path, class: "button"%>
    </div>
  </div>
 </div>
</div>
</div>
</body>
</html>
