<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My booking details</title>
</head>
<body>
<div class="container ">
  <div class = "my-2" ><h2 class="font-weight-bold">You Booking on <%=@booking.start_date.to_date%></h2></div>

<<<<<<< HEAD


<div class="d-flex">

  <div class="card bg-dark text-white mx-3" style="width:60%;border-style: none;">
  <img src="assets/images/route1.png" class="card-img" style="height:600px;">
=======
  <div class="d-flex">

  <div class="card bg-dark text-white mx-3" style="width:60%;border-style: none;">
  <%= cl_image_tag("map-dark-berlin_en6ctp.png", style: "height: 600px; object-fit: cover;", class: "card-img") %>
>>>>>>> 37c9cef52307f0e6db4d9cb720f8f737004510b3
   <div class="card-img-overlay d-flex  justify-content-between">
    <div style="padding-top: 425px;">
    <h5 class="card-title"><%=@booking.space.address%></h5>
    <p class="card-text">From: <%=@booking.start_date%></p>
    <p class="card-text">To:   <%=@booking.end_date%></p>
    <p class="card-text">Contact: <%=@booking.user.email%></p>
    </div>

    <p class="card-text" style="padding-top:500px;width:max-content;"><strong>Total:<%=@booking.cost%> Euro</strong></p>
  </div>
  </div>

  <div class="card" style="width: 40%;">
  <div class="card-body" style = "text-align:center; margin-top: 100px;">
    <img class="rounded-circle alone my-5" src="https://avatars0.githubusercontent.com/u/50922534?v=4" width="85">
    <h5 class="card-title"><%=@booking.space.user.email%></h5>
    <p class="card-text">on Parking Dog since: </p>
    <p> <%=@booking.space.user.created_at.to_date%></p>
  </div>
 </div>


</div>
</div>
</body>
</html>
